<h3>Table bug</h3>
<p>Click on sort header to see column size change inappropriately</p>
<a href="https://github.com/dynatrace-oss/barista/issues/1353" target="_blank">Github issue</a>
<dt-table
  [dataSource]="dataSource"
  dtSort
  (dtSortChange)="sortData($event)"
  [dtSortActive]="'cpu'"
  dtSortStart="asc"
  dtSortDirection="desc"
>
  <ng-container dtColumnDef="host" dtColumnAlign="text">
    <dt-header-cell dt-sort-header *dtHeaderCellDef>Host</dt-header-cell>
    <dt-cell *dtCellDef="let row">{{ row.host }}</dt-cell>
  </ng-container>

  <ng-container dtColumnDef="cpu" dtColumnAlign="text">
    <dt-header-cell dt-sort-header *dtHeaderCellDef>CPU</dt-header-cell>
    <dt-cell *dtCellDef="let row">{{ row.cpu }}</dt-cell>
  </ng-container>

  <ng-container dtColumnDef="memory" dtColumnAlign="number">
    <dt-header-cell dt-sort-header *dtHeaderCellDef>Memory</dt-header-cell>
    <dt-cell *dtCellDef="let row">{{ row.memory }}</dt-cell>
  </ng-container>

  <ng-container dtColumnDef="traffic" dtColumnAlign="control">
    <dt-header-cell dt-sort-header *dtHeaderCellDef>Network traffic</dt-header-cell>
    <dt-cell *dtCellDef="let row">{{ row.traffic }}</dt-cell>
  </ng-container>

  <ng-container dtColumnDef="details">
    <dt-header-cell dt-sort-header *dtHeaderCellDef>Details</dt-header-cell>
    <dt-expandable-cell *dtCellDef ariaLabel="Expand the row"></dt-expandable-cell>
  </ng-container>

  <dt-header-row *dtHeaderRowDef="['details', 'host', 'cpu', 'memory', 'traffic']"></dt-header-row>
  <dt-expandable-row
    *dtRowDef="let row; columns: ['details', 'host', 'cpu', 'memory', 'traffic']"
    [expanded]="row.expanded"
  >
    <ng-template dtExpandableRowContent> Expandable section for {{ row.host }} </ng-template>
  </dt-expandable-row>
</dt-table>


<div class="spacer"></div>

<h3>QuickFilter bug</h3>
<p>Open browser console to see ExpressionChangedAfterItHasBeenCheckedError</p>
<a href="https://github.com/dynatrace-oss/barista/issues/1305" target="_blank">Github issue</a>
<dt-quick-filter
  [dataSource]="filterSource"
  aria-label="Filter By Input value"
  label="Filter by"
  clearAllLabel="Clear all"
  [filters]="fakeFilters"
>
  <dt-quick-filter-title>Quick-filter</dt-quick-filter-title>
  <dt-quick-filter-sub-title>
    All options in the filter field above
  </dt-quick-filter-sub-title>

  my content
</dt-quick-filter>
